<%= @top_message %>
<% if result = params[:result] and result == "none" %>
	<hr>
	<div class="error-msg">
		No results found. Please try a different search.
	</div>
	<hr>
<% end %>
<div class="search-frame">
<%= form_tag("/search", method: "get") do %>
	<!--  <%= label_tag(:global_query, "SEARCH EVERYTHING:") %> -->
  <%= text_field_tag(:global_query) %>
  <%= submit_tag("Search") %>
<% end %>
<div class="footer-block">
	Please enter a search term
</div>
</div>
